:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000203;
  opacity: 1;
  background-image: radial-gradient(
    #182b36 0.9500000000000001px,
    #000203 0.9500000000000001px
  );
  background-size: 19px 19px;
  /* background: linear-gradient(90deg, #36566f, #0a1116); */
  /* background: radial-gradient(#1a2f41, #242424); */
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

.contenedor {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  .articulo {
    background-color: #1a2f41;
    width: 400px;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial;
    font-weight: 600;
    p {
      color: lightblue;
    }
    h2 {
      margin-top: 0;
      color: lightblue;
    }
    &.destacado {
      background-color: lightblue;
      color: darkblue;
      a {
        color: darkblue;
        background-color: lightblue;
      }
      h2 {
        color: darkblue;
        text-decoration: underline;
        text-transform: uppercase;
      }
      p {
        color: navy;
        text-align: left;
        line-height: 1.4;
      }
    }
  }
}

span {
  font-size: 1.2rem;
  font-weight: 500;
  color: lightgreen;
}

/* Example of box model */
.box {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.box::before {
  content: "Before";
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  background-color: black;
}
.box::after {
  content: "After";
  background-color: white;
  display: block;
  color: black;
}

.list {
  li {
    background-color: purple;
    &::marker {
      content: "x";
      color: orange;
      font-size: 1.5rem;
      border: blue 1px solid;
    }
  }
}
input {
  color: orange;
  &::placeholder {
    color: yellow;
    font-style: italic;
  }
}

.exclusive-link {
  &:hover {
    color: red;
    font-weight: bold;
  }
}
.articulo:first-child {
  background-color: orange;
}

.cta {
  display: flex;
  justify-content: center;
}

.cta a {
  background-color: yellow;
  color: black;
  padding: 4px 12px;
  margin: 8px 24px;
  &:first-child {
    &:hover {
      background-color: orange;
      color: white;
    }
    &:active {
      background-color: red;
      color: white;
    }
    /* &:visited {
      background-color: green;
      color: white;
    } */
  }
  &:hover {
    background-color: aqua;
    color: darkblue;
  }
}
.articles p {
  background-color: yellow;
  &:nth-child(4) {
    background-color: orange;
  }
  &:nth-last-child(1) {
    background-color: lightgreen;
  }
}
