:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Example of no nested CSS */
/* .contenedor .articulo {
  background-color: #191919;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  width: 400px;
}

.contenedor .articulo h2 {
  margin-top: 0;
  color: #e4ff79;
}

.contenedor .articulo p {
  color: #d1d1d1;
}

.contenedor .articulo a {
  color: #1f1f1f;
  background-color: #e4ff79;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.contenedor .articulo.destacado {
  color: #1f1f1f;
  background-color: #e4ff79;
}
.contenedor .articulo.destacado h2 {
  color: #242424;
}
.contenedor .articulo.destacado a {
  color: #e4ff79;
  background-color: #242424;
}
.contenedor .articulo.destacado p {
  color: #333333;
} */

/* Example of nested CSS */

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

.contenedor {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  .articulo {
    background-color: darkblue;
    width: 400px;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial;
    font-weight: 600;
    p {
      color: lightblue;
    }
    h2 {
      margin-top: 0;
      color: lightblue;
    }
    &.destacado {
      background-color: lightblue;
      color: darkblue;
      a {
        color: darkblue;
        background-color: lightblue;
      }
      h2 {
        color: darkblue;
        text-decoration: underline;
        text-transform: uppercase;
      }
      p {
        color: navy;
        text-align: left;
        line-height: 1.4;
      }
    }
  }
}
